.profile {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  max-width: 1280px;

  margin: 0 auto;
  padding: 34px 0 20px;

  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  width: 190px;
  height: 190px;

  border-radius: 8px;

  object-fit: cover;
  flex-shrink: 0;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
  margin-left: 20px;
}

.profile__title {
  max-width: 420px;
  margin: 0 0 12px;

  font-size: 32px;
  font-weight: 500;
  line-height: 1;

  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  margin: 0 0 32px;

  color: rgba(33, 33, 33, 0.7);

  font-size: 16px;

  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  align-self: flex-start;

  padding: 0;

  border: none;
  background: transparent;

  color: #212121;

  font-size: 16px;
  line-height: 1.2;

  opacity: 0.7;
  cursor: pointer;
}

.profile__edit-icon {
  width: 12px;
  height: 12px;
}

.profile__add-btn {
  align-self: flex-end;

  width: 157px;
  height: 52px;
  margin-left: auto;
  padding: 0;

  border: none;
  border-radius: 8px;

  background-color: #212121;
  color: #fcf5e5;

  font-size: 16px;
  line-height: 1.2;

  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__edit-btn,
.profile__add-btn {
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__info {
    align-self: center;
    margin: 20px 0 0;
  }

  .profile__title {
    font-size: 20px;
  }

  .profile__add-btn {
    margin: 20px 0 0;
    width: 100%;
  }

  .profile__edit-btn {
    align-self: center;
  }
}
